@page
@model proiect.Pages.contactModel
@{
}
<h1>Contact</h1>
<p>Email: email_meu@gmail.com</p>
<p>Nr.telefon: 0700000000</p>
<p>strada Nuferilor, Cluj Napoca</p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d170.79479234529487!2d23.582318107340242!3d46.77048079999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e9b4ce89781%3A0x9b448085d3f1e157!2sStrada%20Nuferilor%2C%20Cluj-Napoca%20400000%2C%20Rom%C3%A2nia!5e0!3m2!1sro!2s!4v1609255192351!5m2!1sro!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>