@page
@model PrivacyModel
@{
    ViewData["Title"] = "Despre";
}
<h1>@ViewData["Title"]</h1>

<p>
    Stimate client,</p>
<p>
    În aceste momente, ne confruntăm cu o situaţie fără precedent care necesită grijă, compasiune şi înţelegere.

    Misiunea noastră, este să oferim permanent o experienţă premium clienţilor noştri. Cel mai important pentru noi acum este să ne asigurăm că rămânem în siguranţă, în contextul în care suntem cu toţii îngrijoraţi. Prin urmare, dorim să vă transmitem că în locaţiile din România respectăm toate măsurile de siguranţă şi protecţie necesare.

    Păstrăm legătura prin echipa noastră de Customer Care, ce poate fi contactată la numărul +40 000 000 000 sau la adresa de e-mail contact@email.ro (de luni până vineri între orele 8:00 - 17:00).
</p>
<p>
    Vă mulţumim.
</p>
